<div class="timers">
    <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">

        <div class="dialog-content" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 fxLayoutGap="2rem" class="selector round-selector" (click)="onOpenInputDialog('rounds')">
                <span>ROUNDS</span>
                <span>{{intervalTimer.rounds}}</span>
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 fxLayoutGap="2rem" class="selector work-selector" (click)="onOpenInputDialog('work')">
                <span>WORK</span>
                <span>{{intervalTimer.work}}</span>
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 fxLayoutGap="2rem" class="selector rest-selector" (click)="onOpenInputDialog('rest')">
                <span>REST</span>
                <span>{{intervalTimer.rest}}</span>
            </div>
        </div>

        <mat-card-actions>
            <button class="button-mini-2--dark" mat-raised-button color="primary" (click)="onStartIntervalTraining()">
                Go!
            </button>
        </mat-card-actions>
    </section>
</div>
