.input-value {
  .selected-number {
    font-size: 2rem;
  }

  .selected-type {
    margin: 0 0.5rem;
    position: relative;
    top: -1rem;
  }

  .remove-char {
    float: right;
  }
}

.numbers {
  font-size: 3.5rem;

}

